<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.dao.HelloMapper" >

  <select id="getPrimaryKey" resultType="java.lang.Long">
    SELECT id
    FROM hello
    WHERE name = #{name}
  </select>

  <update id="update">
    update hello
    set number = #{number}
    where id = #{id}
  </update>
  <select id="selectAll" resultType="com.github.Entity.Hello">
    SELECT
    id as id,
    name as name
    from hello
  </select>
</mapper>